* {
        box-sizing: border-box;
}

body {
    font-family: cursive, sans-serif;
/*        font-family: 'Signika Negative', sans-serif;*/
    margin: 0;
    padding: 0;
}
#header-nav{
	color: red;
	border: 1px solid black;
	width: 100%;

}

.navbar-brand p{
   font-size: 30px;
   font-weight: bold;
   color: black;


}

.navbar-brand a:hover, navbar-brand a:focus{
	text-decoration: none;
}


@media (min-width: 768px){
	navbar-toogler{
		display: none;

	}
}

#nav-list a{
	color: black;
	text-align: center;
}

#nav-list a:hover{
	background-color: #DFD7BF;
}


.nav-item{
	text-align: center;
	float: right;

}

.nav-item a:hover{
	background-color: gray;
	border: 1px solid black;
}


h1 {
	margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

section {
    position: relative;
    padding: 20px;
    width: 100%;
}

p {
    position: relative;
    clear: right;
}
.content {
    position: relative;
    background-color: gray;
  
    width: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.food{
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 130%;
    font-weight: bold;

}


.description {
    padding: 5px;
    border: none;
    background-color: gray;
    color: black;
    margin: 0px;
    height: 150px;
    overflow: auto;
}

.row {
    width: 90%;
}


@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

    
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

    
@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}